# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.au-rentals-be.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\kOdeS\projects\personal\au-rentals-be\.idea\.idea.au-rentals-be.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
